<footer>
        <a class="foot" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a class="foot" href="https://www.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a class="foot" href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <p style="color: #9a9ea5">Copyright @ 2018 Team Zerra. All rights reserved.</p>
</footer>