<html lang="en">
<head>
  <title>Home</title>
  <% include partials/head %>
</head>
<body style = "background-color: #161616">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/charts">View Charts</a></li>
            <li><a href="/data">My Data</a></li>
            <li><a href="/test">Collect</a></li>
        </ul>
    </div>
</nav>

<img class="working" src="static/wip.png"><br>
<div class="working">Work in progress!</div>

<% include partials/footer %>

</body>
</html>